/* Welcome Page */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url("/images/header.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.card {
    height: 100%;
}

h1 {
    font-family: "Lobster", cursive;
}

h2 {
    font-family: "Lobster", cursive;
}

h3 {
    font-family: "Lobster", cursive;
}

h4 {
    font-family: "Lobster", cursive;
}

h5 {
    font-family: "Lobster", cursive;
}

nav {
    font-family: "Lobster", cursive;
}

nav {
    font-family: "Lobster", cursive;
}


/* Animal view */

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}


/* Single Animal view */


/* Single Product view */


/* Apply view */

.labels {
    font-weight: bold;
    text-align: center;
}

.contact-form {
    margin-top: 50px;
    margin-left: 120px;
    height: 400px;
    width: 850px;
    padding-top: 10px;
    font-size: 2em;
}

#jumboApply {
    background: url("/images/apply.jpg") center center no-repeat;
    background-size: 1441px 500px;
}

#applyBtn {
    margin-left: 85px;
    margin-bottom: 30px;
}


/* Contact view */

#jumboContact {
    background: url("/images/contact.jpg") center center no-repeat scroll;
}

/* About Us view */

.about-us {
    padding-top: 30px;
    padding-bottom: 15px;
}

/* Vets view */

.vet-heading {
    padding-bottom: 45px; 
}

.phone {
    padding-bottom: 2px;
}

.contact {
    padding-bottom: 45px;
}

/* Summary view */

/* Checkout view */

/* Purchase view */
