<main-nav active-page="'about'"></main-nav>

<!-- <header class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4">About Homeward Bound</h1>
            </div>
        </div>
    </div>
</header> -->

<div class="jumbotron jumbotron-fluid" id="jumboAbout">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">About Homeward Bound</h1>
    </div>
</div>

<!-- <div class="container about-us jumbotron" style="margin: auto; padding: 1em" id="jumboAbout"> -->
<!-- <h2>About Us!</h2> -->
<div style="margin: 1em; font-size: 24px; text-align:center">Founded in 2017, the mission of Homeward Bound is to help people and their furry companions find each other and create a
    lifelong friendship. In addition, we supply all current and new owners with a variety of toys, collars, clothing, and
    more to help make their furry friends more at home. We also give a list of reliable groomers, walkers, sitters, and vets
    to give your pet its best life.
</div>
<!-- </div> -->

<main-footer class="fixed-bottom"></main-footer>