<main-nav active-page="'about'"></main-nav>

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4">Homeward Bound Pet Finders</h1>
            </div>
        </div>
    </div>
</header>

<div class="container about-us jumbotron" style="margin: auto, padding: 5em" id="jumboAbout">
    <!-- <h2>About Us!</h2> -->
    <p>Founded in 2017, the mission of Homeward Bound is to help people and their furry companions find each other and create
        a lifelong friendship. In addition, we supply all current and new owners with a variety of toys, collars, clothing,
        and more to help make their furry friends more at home. We also give a list of reliable groomers, walkers, sitters,
        and vets to give your pet its best life.
    </p>
</div>

<main-footer></main-footer>