<main-nav active-page="'about'"></main-nav>

<div class="container">
    <h1>About Us!</h1>
    <p>This is company was founded in October of 2017. Our goal is to help people and their furry
        companions find each, and create a lifelong friendship. In addition, we supply all current
        and new owners with a variety of toys, collars, clothing, etcs. to help make their furry
        friends more at home. We also give a list of reliable vets for any questions you make have 
        and other services.
    </p>
</div>

<main-footer></main-footer>