<main-nav active-page="cart"></main-nav>

<div class="container jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td class="col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="products/{{ item.id }}">
                                    <img class="media-object" src="{{ item.image }}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="#">{{ item.ProductName }}</a>
                                    </h4>


                                </div>
                            </div>
                        </td>
                        <td class="col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="{{ item.quantity }}">
                        </td>
                        <td class="col-md-1 text-center">
                            <strong>${{ item.price }}</strong>
                        </td>
                        <td class="col-md-1 text-center">
                            <strong>${{ item.price * item.quantity }}</strong>
                        </td>
                        <td class="col-md-1">
                            <button type="button" class="btn btn-danger" ng-click="removeItem(item.id)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <img class="media-object" src="/images/angeldress.png" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="#">Product name</a>
                                    </h4>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>$4.87</strong>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>$14.61</strong>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <img class="media-object" src="/images/leash-retractable-black.png" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="#">Product name</a>
                                    </h4>


                                </div>
                            </div>
                        </td>
                        <td class="col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-md-1 text-center">
                            <strong>$4.99</strong>
                        </td>
                        <td class="col-md-1 text-center">
                            <strong>$9.98</strong>
                        </td>
                        <td class="col-md-1">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr> -->
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>{{ subtotal | currency: $ : 2 }}</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Estimated shipping</h5>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>{{ shipping | currency: $ : 2 }}</strong>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h2>Total</h2>
                        </td>
                        <td class="text-right">
                            <h2>
                                <strong>{{ finalTotal | currency: $ : 2 }}</strong>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/products">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </button>
                        </td>
                        <td>
                            <a href="/payment">
                                <button type="button" class="btn btn-success">
                                    Checkout
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<main-footer class="fixed-bottom"></main-footer>