<main-nav active-page="'contact'"></main-nav>

<div class="jumbotron jumbotron-fluid" id="jumboContact">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">Contact Us</h1>
        <h3 class="display-5 text-center text-black" id="contactP">Let's keep in touch!</h3>
    </div>
</div>

<div class="container">
    <form ng-submit="send()" class="contact-form">
        <div class="form-row">
            <!-- <div class="form-group col-md-6">
                <label for="Name" class="labels">Name</label>
                <input type="name" class="form-control" id="Name" placeholder="Name">
            </div> -->
            <div class="form-group col-md-6">
                <label for="Email" class="labels">Email</label>
                <input type="email" class="form-control" id="Email" ng-model="from" placeholder="Enter your email address">
            </div>
            <div class="form-group col-md-6">
                <label for="Subject" class="labels">Subject</label>
                <select name="subject" class="form-control" ng-model="subject">
                    <option selected disabled value="">Select one:</option>
                    <option value="Adoption">Adoption</option>
                    <option value="Products">Products</option>
                    <option value="Veternarians">Veterinarians</option>
                    <option value="Services">Services</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>

        <label for="message" class="labels">Message</label>

        <div class="form-group container bottom" id="contact-message-div">
            <textarea ng-model="message" type="text" id="Message" class="form-control" rows="3" placeholder="Write here..." ng-model="message"></textarea>
            <input type="submit" value="SEND" class="btn btn-primary" id="contactBtn" />
        </div>
    </form>
</div>

<main-footer></main-footer>