<main-nav></main-nav>

<h1>Available Dog Walker and Sitters</h1>

<h4>Fetch! Pet Care</h4>
<h5>1561 Cooper Hill Rd.</h5>
<h5>Birmingham, Al  35210</h5>
<a href="#"><p>205-588-6499</p></a>
<a href='#'><p class="contact">Contact us for an appointment</p></a>

<h4>Pepper's Place Birmingham</h4>
<h5>2612 Woddfern contact</h5>
<h5>Birmingham, Al  35209</h5>
<a href="#"><p>205-862-6822</p></a>
<a href='#'><p class="contact">Contact us for an appointment</p></a>

<h4>Bob the BIG DOG Pet Sitting Service</h4>
<h5>2724 Acton Rd</h5>
<h5>Birmingham, Al  35243</h5>
<a href="#"><p>205-967-5927</p></a>
<a href='#'><p class="contact">Contact us for an appointment</p></a>

<h4>Kritters Home Pet Care</h4>
<h5>4232 Cahaba Dr</h5>
<h5>Birmingham, Al  35243</h5>
<a href="#"><p>205-936-8696</p></a>
<a href='#'><p class="contact">Contact us for an appointment</p></a>

<main-footer></main-footer>