<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboWalk">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">Find a Walker/Sitter Near You!</h1>
        <h3 class="display-3 text-center text-white" id="contactP">List of Local Services Below</h3>
    </div>
</div>

<div class="container">
    <h2 class="col-md-10 my-4">Available Dog Walker and Sitters</h2>

    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/Lexi.jpg" alt="">
                <div class="card-body">
                    <a href="http://www.fetchpetcare.com/">
                        <h4 class="card-title">
                            <h4>Fetch! Pet Care</h4>
                            <h5>1561 Cooper Hill Rd.</h5>
                            <h5>Birmingham, AL 35210</h5>
                            <h5>205-588-6499</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/krypto.jpg" alt="">
                <div class="card-body">
                    <a href="http://www.bringfido.com/">
                        <h4 class="card-title">
                            <h4>Pepper's Place Birmingham</h4>
                            <h5>2612 Woddfern contact</h5>
                            <h5>Birmingham, AL 35209</h5>
                            <h5>205-862-6822</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/leahsleash.jpg" alt="">
                <div class="card-body">
                    <a href="http://fb.me/leahsleash">
                        <h4 class="card-title">
                            <h4>Leah's Leash</h4>
                            <h5>3241 Wagon Gap Trail</h5>
                            <h5>Vestavia, AL 35126</h5>
                            <h5>205-936-7465</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                <div class="card-body">
                    <a href="http://www.petsitter.com/">
                        <h4 class="card-title">
                            <h4>Kritters Home Pet Care</h4>
                            <h5>4232 Cahaba Dr</h5>
                            <h5>Birmingham, AL 35243</h5>
                            <h5>205-936-8696</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<main-footer></main-footer>