<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboGroom">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">Need Help Finding Someone to Groom Your Pet?</h1>
        <h3 class="display-4 text-center text-white" id="contactP">Find Local Groomers Below</h3>
    </div>
</div>
<div class="container">
    <h2 class="col-md-10 my-4">Local Groomers</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                <div class="card-body">
                    <a href="http://www.dogdaysofbirmingham.com/">
                        <h4 class="card-title">
                            <h4>Dog Days of Birmingham</h4>
                            <h5>112 18th St. N</h5>
                            <h5>Birmingham, AL 35203</h5>
                            <h5>205-458-9364</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/sugar.jpg" alt="">
                <div class="card-body">
                    <a href="https://www.facebook.com/BathsBarksAndBubblesPetSpa">
                        <h4 class="card-title">
                            <h4>Baths Barks & Bubbles Pet Spa</h4>
                            <h5>430 14th St. S</h5>
                            <h5>Birmingham, AL 35233</h5>
                            <h5>205-214-3782</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/leahsleash.jpg" alt="">
                <div class="card-body">
                    <a href="http://fb.me/leahsleash">
                        <h4 class="card-title">
                            <h4>Leah's Leash</h4>
                            <h5>3241 Wagon Gap Trail</h5>
                            <h5>Vestavia, AL 35126</h5>
                            <h5>205-936-7465</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="/images/Windy.jpg" alt="">
                <div class="card-body">
                    <a href="https://www.yelp.com/biz/the-dog-house-vestavia-hills">
                        <h4 class="card-title">
                            <h4>The Dog House</h4>
                            <h5>4209 Dolly Ridge Rd.</h5>
                            <h5>Vestavia Hills, AL 35243</h5>
                            <h5>205-977-9775</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>