<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboGroom">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">Need Help Finding Someone to Groom Your Pet?</h1>
        <h3 class="display-4 text-center text-white" id="contactP">Find Local Groomers Below</h3>
    </div>
</div>
<h1 class="col-md-10 my-4">Local Groomers</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/.jpg" alt="">
                </a>
                <div class="card-body">
                    <a href="http://www..com/">
                        <h4 class="card-title">
                            <h4>Groomer Name</h4>
                            <h5>Street Name</h5>
                            <h5>City, State Zip</h5>
                            <h5>123-456-7890</h5>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<main-footer></main-footer>