<main-nav active-page="'multiproduct'"></main-nav>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Dog Collars and Leashes
            <small>We have a wonderfiul selection!</small>
        </h1>

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="/images/bluecollar.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Cool Collar</h3>
                <p>Purchase one our trendy pet items!</p>
                <a class="btn btn-primary" href="/singleproduct">View Item</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="/images/greencollar.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Rad Collar</h3>
                <p>Purchase one our trendy pet items!</p>
                <a class="btn btn-primary" href="#">View Item</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="/images/blackleash.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Sweet Leash</h3>
                <p>Purchase one our trendy pet items!</p>
                <a class="btn btn-primary" href="#">View Item</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>



        <hr>



    </div>

</body>

<main-footer></main-footer>