<main-nav active-page="'multiproduct'"></main-nav>

<div class="container">
    <h1 class="my-4">Services to help you and your furry friend(s)!</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <!-- Card for vets -->
                <a href="#"><img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/vets">Veterinarians</a>
                    </h4>
                    <p class="card-text">We want your pet to be as healthy as possible</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/dogwalkers.html">Dog walkers/sitters</a>
                    </h4>
                    <p class="card-text">Dog shouldn't be the only ones to "sit"</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/o"
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>