<main-nav></main-nav>

<h1>Obedience Schools</h1>

<h4>Dominion Dog Training</h4>
<h5>535 Cloudland Dr.</h5>
<h5>Birmingham, AL  35226</h5>
<a href="#"><p class="phone">205-427-0723</p></a>

<h4>Dog Days of Birmingham</h4>
<h5>112 18th St N</h5>
<h5>Birmingham, AL  35203</h5>
<a href="#"><p class="phone">205-458-9364</p></a>

<h4>Creative Dog Training</h4>
<h5>3190 Cahaba Heights Rd</h5>
<h5>Birmingham, AL  35243</h5>
<a href="#"><p class="phone">205-967-2062</p></a>

<main-footer></main-footer>