<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboObed">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-black mt-4" id="header">Need Help Training Your Pet?</h1>
        <h3 class="display-5 text-center text-black" id="contactP">List of Local Schools Below</h3>
    </div>
</div>
<h1>Obedience Schools</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Dominion Dog Training</h4>
                        <h5>535 Cloudland Dr.</h5>
                        <h5>Birmingham, AL 35226</h5>
                        <h5>205-427-0723</h5>
                    </h4>
                    <a href="http://www.dominiondogtraining.com/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                                <h4>Dog Days of Birmingham</h4>
                                <h5>112 18th St N</h5>
                                <h5>Birmingham, AL 35203</h5>
                            <h5>205-458-9364</h5>
                        </h4>
                        <a href="http://www.dogdaysofbirmingham.com/">
                            <p class="card-text">Contact us for an appointment</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                    <h4>Creative Dog Training</h4>
                                    <h5>3190 Cahaba Heights Rd</h5>
                                    <h5>Birmingham, AL 35243</h5>
                                <h5>205-967-2062</h5>
                            </h4>
                            <a href="http://www.creativedogtraining.com/">
                                <p class="card-text">Contact us for an appointment</p>
                            </a>
                        </div>
                    </div>
                </div>
    </div>
</div>
<main-footer></main-footer>