<main-nav active-page="'payment'"></main-nav>

<div class="jumbotron container">
    <div class="row">
        <div col-md-12 col-lg-4>
            <div class="panel panel-default credit-card-container">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <h3 class="panel-title display-td">Acceptable Cards</h3>
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <form>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="card-number">Card Number</label>
                        <div id="card-info">
                            <div class="form-control" name="card-number" id="card-field" placeholder="Credit Card Number"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <button class="pay-now btn btn-success btn-lg btn-block" type="button">Pay Now</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>