<div class="jumbotron container">
    <div class="row">
        <div col-md-12 col-lg-4>
            <div class="panel panel-default credit-card-container">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <h3 class="panel-title display-td">Acceptable Cards</h3>
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="card-number">Card Number</label>
                                    <div class="input">
                                        <input type="tel" class="form-control" name="card-number" placeholder="Credit Card Number"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="card-Expiry">EXP Date</label>
                                    <input type="tel" class="form-control" name="card-Expiry" placeholder="MM/YY"/>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="card-CVC">CVC</label>
                                    <input type="tel" class="form-control" name="card-CVC" placeholder="CVC"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="pay-now btn btn-success btn-lg btn-block" type="button">Pay Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>