<main-nav active-page="'products'"></main-nav>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Check out our fine selection of toys, collars, and beds!
        </h1>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/leash-retractable-black.png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/71">Dog Collars and Leashes</a>
                        </h4>
                        <p class="card-text">We have some awesome collars.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/Dog Toy Pink Chewy Bone.png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/">Dog Toys</a>
                        </h4>
                        <p class="card-text">Check out our chewable toys.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/alabamadog.png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/81">Dog Clothing</a>
                        </h4>
                        <p class="card-text">Check out these stylish clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="images/dogbed.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/">More Dog Stuff</a>
                        </h4>
                        <p class="card-text">Miscellaneous items for your dog!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/Cat Collar Purple .png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/41">Cat Collars and Leashes</a>
                        </h4>
                        <p class="card-text">Check out these sweet collars for your favorite feline.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="/images/cattennisballs.png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/">Cat Toys</a>
                        </h4>
                        <p class="card-text">Check out these cool toys that will entertain for seconds.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="images/kingcat.png" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/products/subcategory/51">Cat Clothing</a>
                        </h4>
                        <p class="card-text">Check out these stylish clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="images/catbed.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">More Cat Stuff</a>
                        </h4>
                        <p class="card-text">Check out these other accessories for your feline friend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<main-footer></main-footer>