<main-nav active-page="'products'"></main-nav>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Check out our fine selection of toys, collars, and beds!
        </h1>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/images/bluegreencollar.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/multiproduct">Dog Collars and Leashes</a>
                        </h4>
                        <p class="card-text">We have some awesome collars.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/images/Dog Toy Pink Chewy Bone.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Dog Toys</a>
                        </h4>
                        <p class="card-text">Check out our chewable toys.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Dog Clothing</a>
                        </h4>
                        <p class="card-text">Check out these stylish clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/images/imagesacc/Dog Auburn Hoodie.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Other</a>
                        </h4>
                        <p class="card-text">Miscellaneous items for your dog!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/images/imagesacc/Cat Collar Purple .png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Cat Collars and Leashes</a>
                        </h4>
                        <p class="card-text">Check out these sweet collars for your favorite feline.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="/images/imagesacc/cattennisballs.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Cat Toys</a>
                        </h4>
                        <p class="card-text">Check out these cool toys that will entertain for seconds.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Cat Clothing</a>
                        </h4>
                        <p class="card-text">Check out these stylish clothes!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Other</a>
                        </h4>
                        <p class="card-text">Check out these other accessories for your feline friend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<main-footer></main-footer>