<main-nav active-page="'services'"></main-nav>

<div class="jumbotron jumbotron-fluid" id="jumboService">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-white mt-4" id="header">Homeward Bound Pet Finders</h1>
    </div>
</div>


<div class="container">
    <h2 class="col-md-10 my-4">Services to Help You and Your Furry Friends!</h2>
    <div class="row service-cards">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/dogwalkers">
                    <img class="card-img-top" src="/images/services/walking.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/dogwalkers">Dog walkers/sitters</a>
                    </h4>
                    <p class="card-text">Dogs shouldn't be the only ones to "sit"</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/obedience">
                    <img class="card-img-top" src="/images/services/dogtrain.jpg">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/dogwalkers">Dog Walkers/Sitters</a>
                    </h4>
                    <p class="card-text">School is in session</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/vets">
                    <img class="card-img-top" src="/images/services/vet.jpg">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/vets">Veterinarians</a>
                    </h4>
                    <p class="card-text">There's only way for a thermometer to go</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/grooming">
                    <img class="card-img-top" src="/images/services/bathing.jpg">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/grooming">Grooming</a>
                    </h4>
                    <p class="card-text">Cause there are some spots that licking can't get</p>
                </div>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>