<main-nav active-page="'singleproduct'"></main-nav>


<div class="container jumbotron">
    <div class="row">
        <div class="col-lg-9">
            <div class="card mt-4">
                <img class="img-fluid" ng-src="{{ product.image  }}">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="/apply">
                    <button class="btn btn-primary">Apply to Adopt!</button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>