<main-nav active-page="'singleproduct'"></main-nav>


<div class="container jumbotron">
    <div class="row">
        <div class="col-lg-9">
            <h2 class="card-title">{{ product.ProductName }}</h2>
            <!-- <div class="card mt-4"> -->
            <br>
            <img class="img-fluid" ng-src="{{ product.image }}">
            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>
                <a href="/apply" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Apply to Adopt {{ product.ProductName }}!</a>
                <a href="/welcome" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back to welcome page</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<main-footer></main-footer>