<main-nav></main-nav>

<div class="jumbotron jumbotron-fluid" id="jumboVet">
    <div class="col-lg-12">
        <h1 class="display-2 text-center text-black mt-4" id="header">Find a Vet Near You!</h1>
        <h3 class="display-5 text-center text-black" id="contactP">List of Local Vets Below</h3>
    </div>
</div>

<h1 id="vet-heading">Vets in the area</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/Carrigan.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Nall Daniels Animal Clinic</h4>
                        <h5>2829 Central Ave.</h5>
                        <h5>Homewood, AL 35209</h5>
                        <h5>205-879-3409</h5>
                    </h4>
                    <a href="http://www.nalldaniels.com/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/catvet1.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Emergency & Specialty Animal Medical Center</h4>
                        <h5>2864 Acton Rd.</h5>
                        <h5>Birmingham, AL 35243</h5>
                        <h5>205-967-7389</h5>

                    </h4>
                    <a href="http://www.emergencyamc.com/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/dogvet1.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Britt Animal Hospital</h4>
                        <h5>380 Summit Blvd</h5>
                        <h5>Birmingham, AL 35243</h5>
                        <h5>205-967-2511</h5>
                        </a>
                    </h4>
                    <a href="http://www.brittanimalhospital.com/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/catvet2.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Cahaba Mountain Brook Animal Clinic</h4>
                        <h5>3190 Cahaba Heights Rd</h5>
                        <h5>Birmingham, AL 35243</h5>
                        <h5>205-967-6759</h5>
                    </h4>
                    <a href="https://www.cahabamountainbrookac.com/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="/images/Lexi.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4>Riverview Animal Clinic</h4>
                        <h5>4640 US-280</h5>
                        <h5>Birmingham, AL 35242</h5>
                        <h5>205-991-9580</h5>
                    </h4>
                    <a href="http://www.riverviewanimalclinic.net/">
                        <p class="card-text">Contact us for an appointment</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<main-footer></main-footer>