<main-nav></main-nav>

<h1 id="vet-heading">Vets in the area</h1>

<h4>Emergency & Specialty Animal Medical Center</h4>
<h5>2864 Acton Rd.</h5>
<h5>Birmingham, AL  35243</h5>
<a href="#"><p>205-967-7389</p></a>
<a href="#"><p class="contact">Contact us for an appointment</p></a>

<h4>Britt Animal Hospital</h4>
<h5>380 Summit Blvd</h5>
<h5>Birmingham, AL  35243</h5>
<a href="#"><p>205-967-2511</p></a>
<a href="#"><p class="contact">Contact us for an appointment</p></a>

<h4>Cahaba Mountain Brook Animal Clinic</h4>
<h5>3190 Cahaba Heights Rd</h5>
<h5>Birmingham, AL  35243</h5>
<a href="#"><p>205-967-6759</p></a>
<a href="#"><p class="contact">Contact us for an appointment</p></a>

<h4>Riverview Animal Clinic</h4>
<h5>4640 US-280</h5>
<h5>Birmingham, AL  35242</h5>
<a href="#"><p>205-991-9580</p></a>
<a href="#"><p class="contact">Contact us for an appointment</p></a>

<main-footer></main-footer>