<main-nav active-page="'welcome'"></main-nav>

<!-- Header with Background Image -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4">Homeward Bound Pet Finders</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <h2 class="mt-4">What We Do</h2>
            <p>We help rehome animals that owners can no longer care for!</p>
            <p>We also help connect pet owners with dog walkers, sitters, and veterinarians.</p>
            <p>
                <!-- <a class="btn btn-primary btn-lg" href="#">Adopt &raquo;</a> -->
            </p>
        </div>
        <div class="col-sm-4">
            <h2 class="mt-4">Contact Us</h2>
            <address>
                <strong>Homeward Bound Pet Finders</strong>
                <br>114 6th Ave
                <br>Birmingham, AL
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">homewardbound@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-4 my-4">
            <div class="card">
                <a href="/animals/subcategory/11">
                    <img class="card-img-top" src="/images/Rosco-the-Rottweiler.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Dogs</h4>
                    <p class="card-text">Find your new best friend!</p>
                </div>
                <div class="card-footer">
                    <a href="/animals/subcategory/11" class="btn btn-primary">See Our Dogs!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <a href="/animals/subcategory/1">
                    <img class="card-img-top" src="/images/lily.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Cats</h4>
                    <p class="card-text">Find your new snuggle buddy!</p>
                </div>
                <div class="card-footer">
                    <a href="/animals/subcategory/1" class="btn btn-primary">See Our Cats!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-4">
            <div class="card">
                <a href="/services">
                    <img class="card-img-top" src="/images/walker.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Services</h4>
                    <p class="card-text">Meet your new dog walker or vet!</p>
                </div>
                <div class="card-footer">
                    <a href="/services" class="btn btn-primary">Services</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<main-footer></main-footer>